replicaCount: 1

image:
  repository: todo-frontend # Placeholder, replace with your actual image name
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: "latest"

service:
  type: ClusterIP
  port: 3000

ingress:
  enabled: false
  className: ""
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  hosts:
    - host: chart-example.local
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

resources: {}
  # We usually recommend not to specify default resources for demo purposes
  # and allow the end user to configure resources based on their use case.
  # requests:
  #   cpu: 100m
  #   memory: 128Mi
  # limits:
  #   cpu: 100m
  #   memory: 128Mi

nodeSelector: {}

tolerations: []

affinity: {}

dapr:
  enabled: true
  appId: {{ include "frontend.fullname" . }} # This will be rendered to frontend's fullname
  appPort: 3000 # The port your Next.js app runs on
  appProtocol: http
  annotations: {} # Additional Dapr annotations
